.skillSection {
    @apply scroll-mt-20 max-w-[1080px];

    p {
        @apply text-justify
    }
}

.title {
    @apply text-3xl font-serif font-medium capitalize mb-8
}


.deck {
    @apply hidden;
    
    @media screen(md) {
        @apply flex flex-wrap gap-4 justify-evenly;
    }
}

.cardColumn {
    @apply relative;
}

.card {
    @apply transition duration-300 cursor-pointer;
}

.hoveredCard {
    @apply absolute scale-110 z-50 pointer-events-none -translate-y-16 shadow-2xl;
}

.card + .card, 
.card + .hoveredCard,
.hoveredCard + .card {
    @apply -mt-32;
}

.input {
    @apply opacity-0 absolute;
}

.leftNook,
.rightNook {
    @apply flex flex-col w-1/6 justify-center;
}

.cardCentre {
    @apply flex flex-col w-4/6;
}

/*CATEGORIES && BG COLOURS*/

.base {
    @apply flex relative;
    background-image: url("/images/card-template.png");
    background-size: cover;
    width: 140px;
    height: 200px;
}

.languagesSkill {
    @apply base bg-[#614C61]

}
.frameworksSkill {
    @apply base bg-blue-900
}
.librariesSkill {
    @apply base bg-[#426669]
}
.speechSkill {
    @apply base bg-[#475569]
}
.databasesSkill {
    @apply base bg-[#A44769]
}
.toolsSkill {
    @apply base bg-[#22578C]
}

.logo {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-5xl text-white;
}


/* CATEGORY NAMES */
.category {
    @apply text-center text-white text-2xs uppercase leading-none;
}


/* SKILL NAMES */
.name {
    @apply text-center pt-1.5 text-white;
}
